.MainContent{
  overflow-y: scroll;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.MainContent_align{
  width: 95%;
}
.MainContent_Wrapper h1{
  font-size: 26px;
  font-weight: 500;
}
.MainContent_Wrapper h2{
  font-size: 20px;
  font-weight: 500;
  margin-top: 1rem;
}
.MainContent_Wrapper h3{
  font-size: 18px;
  font-weight: 500;
  margin-top: 1rem;
}
.MainContent_Wrapper p{
  margin-left: 1rem;

}
.MainContent_Wrapper ul{
  margin-left: 2rem;
}
.MainContent_Wrapper li{
  width: 95%;
  list-style: circle;
}
