.Information_container {
  padding: 1rem;
  height: 100vh;
}
.Information_align {
  margin-bottom: 2rem;
}
.Information_Tittle {
  background-color: #e9f7fe;
  color: #5091b2;
  border: 1px solid #b6d7e8;
  font-family: Arial, sans-serif;
  font-size: 26px;
  margin-bottom: 15px;
  padding: 14px 40px 14px 18px;
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
}
.Information_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.Information_Header_container {
  width: 100%;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.Information_body {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.Information_main {
  background-color: rgb(230, 255, 247);
  width: 80%;
  height: 100vh;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.info_table a{  
  color: #5ca20d;
}
.Information_right {
  width: 25%;
  height: 100vh;
  overflow-y: scroll;
}

.align_img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.Information_main ol {
  list-style:decimal;
  margin-left: 1.5rem;
}
.Information_main h1{
  font-size: 24px;
  font-weight: 600;
} 
.Information_main h2{
  font-size: 20px;
  font-weight: 500;
} 
.Information_main h3{
  font-size: 18px;
  font-weight: 500;
} 
.info_text {
  margin-left: 1rem;
}
.info_link {
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 500;
  color: #5ca20d;
}

.inside_Links{
  text-decoration: none;
  font-weight: 500;
  color: #5ca20d;
}
.Company_logos{
  width: 95%;
  border: black 1px solid;
  padding: 1rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(5, 11rem);
  grid-template-rows: repeat(6, 8rem);
  justify-content: space-evenly;
    justify-items: center;
    align-items: center;

}
.classroom_img{
  /* background-color: red; */
  margin-top: 2rem;
  display: grid;
  width: 80%;
  grid-template-columns: 30rem 30rem;
  grid-template-rows:  18rem 18rem ;
  gap: 5rem;
  justify-content: space-evenly;
}
.C_img{
  width: 100%;
  border: solid 2px;
  border-radius: 1rem;
  box-shadow: 10px 5px 5px rgb(80, 79, 79);
}
