.Administration_container {
  padding: 1rem;
  height: 100vh;
}
.Administration_align{
  margin-bottom: 2rem;
}
.Administration_Tittle {
  background-color: #e9f7fe;
  color: #5091b2;
  border: 1px solid #b6d7e8;
  font-family: Arial, sans-serif;
  font-size: 26px;
  margin-bottom: 15px;
  padding: 14px 40px 14px 18px;
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
}
.Administration_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.Administration_Header_container {
  width: 100%;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.Administration_body{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.Administration_main{
  background-color: rgb(230, 255, 247);
  width: 80%;
  height: 100vh;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.Administration_main h1{
  margin-left: 1rem;
  font-size: 20px;
  font-weight: 500;
}
.Administration_main h3{
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 500;
}
.Administration_table{
  display: flex;
}
.Administration_table ol{
  margin-top: 1rem;
  margin-left: 3rem;
  list-style: decimal;
  margin-right: 2rem;
}
.Administration_table_links{
  margin-top: 1rem;
}
.Administration_table_links a{
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  line-height: 26px;
  text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #5ca20d;
}
.Administration_right{
  width: 25%;
  height: 100vh;
  overflow-y: scroll;
}

.Dynamic_info{
  background-color: red;
  text-align: center;
}
.align_img{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.text_box{
  margin-top: 1rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: .6rem;
}
.Administration_main_info_text_header{
  font-size: 20px;
  font-weight: 500;
}