.Top_Navbar{
  margin-top: 1rem;
  /* background-color: wheat; */
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-bottom: 1rem;
}
.mit_logo{
  width: 70%;
}
.Top_Navbar_align{
  /* background-color: rebeccapurple; */
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 20rem;
  height: 3rem;
  margin-right: 1rem;
}
.admin_panel{
  display: flex;
  gap: .4rem;
}
.Link_1{
  padding: .5rem;
  background-color: #86AC99;
  color: black;
  cursor: pointer;
  font-size: 18px;
  border-radius: .6rem;
  
}
.Link_1:hover{
  background-color: #dfddd9;
  transform: translate();
  transition: all ease .3s;
}
.Theme_box{
  display: flex;
  flex-direction: row;
  background-color: red;
  justify-content: center;
  align-items: center;
}
.theme_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height:1.5rem;
  width: 1.4rem;
  background-color: antiquewhite;
  border: solid 1px black;
  cursor: pointer;
}